# Data processing
pandas==3.0.2
numpy==2.4.4

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# PostgreSQL / database
SQLAlchemy==2.0.49
psycopg2-binary==2.9.11

# Environment configuration
python-dotenv==1.2.2
